#nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    border-radius: 20px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
    padding: 0.09999%;
    width: 24.77%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    
}

li a {
    display: block;
    color: white;
    padding: 2% 30%;
    text-decoration: none;
    color : #FFFF00;
}

li:hover,
a:hover {
    color: #FFA500;
    border-radius: 20px;
}
#Shop{
    position: absolute;
    bottom: 450px;
    left: 16px;
    font-size: 100px;
    
}
#page{
    background-color: #FFFFFF;
    margin: 20px;
}
body{

    font-family: serif;
    background-color: #ADD8E6;

}
#banner{
    width: 1500px;
    height: 400px;
}
#content{
    margin-top: 1%;
    background-color: #808080;
    width: 78%;
    height: 100%;
    float: left;
    padding: 1%;
    border-radius: 20px;
    position: static;
    margin-bottom: 2%; 
}
#subscribe{
    margin-top: 1%;
    background-color: #FFFF00;
    width: 78%;
    height: 100%;
    float: left;
    padding: 1%;
    border-radius: 20px;
    position: static;
    margin-bottom: 2%; 
}
